<div>
	<h2>Needing Rides</h2>
	<table>
		<thead>
			<tr>
				<th>Name:</th><th>Day:</th><th>Arrive By:</th><th>Destination:</th>
			</tr>
		</thead>
		<tbody>
			{{#each postings}}
				<tr>
					<td><a href="mailto:"{{this.email}}".com?subject=Need a Ride?">{{this.firstName}} {{this.lastName}}</a></td><td>15 April</td><td>7:00am</td><td>PDX</td>
				</tr>
			{{/each}}
			<tr>
				<td><a href="mailto:jenny@uncorkedstudios.com?subject=Need a Ride?">Jenny Loutdan</a></td><td>15 April</td><td>7:00am</td><td>PDX</td>
			</tr>
			<tr>
				<td>Jenny Loutdan3</td><td>15 April</td><td>7:30am</td><td>PDX</td>
			</tr>
			<tr>
				<td>Jenny Loutdan2</td><td>16 April</td><td>3:30pm</td><td>PDX</td>
			</tr>
			<tr>
				<td>Jenny Loutdan1</td><td>16 April</td><td>5:45pm</td><td>PDX</td>
			</tr>
		</tbody>
	</table>
</div>

<div>
	<h2>Offering Rides</h2>
	<table>
		<thead>
			<tr>
				<th>Name:</th><th>Day:</th><th>Arrive At:</th><th>Destination:</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><a href="mailto:ann@hotmail.com?subject=Can I Tag Along?">Ann Laudick1</a></td><td>15 April</td><td>6:00am</td><td>PDX</td>
			</tr>
			<tr>
				<td>Ann Laudick2</td><td>15 April</td><td>4:30pm</td><td>PDX</td>
			</tr>
			<tr>
				<td>Ann Laudick3</td><td>16 April</td><td>2:30pm</td><td>PDX</td>
			</tr>
			<tr>
				<td>Ann Laudick4</td><td>16 April</td><td>8:40pm</td><td>PDX</td>
			</tr>
		</tbody>
	</table>
</div>