@import url(http://fonts.googleapis.com/css?family=Patua+One|Open+Sans);

div {
	width: 50%;
	float: left;
}

h2 {
	text-align: center;
	font-family: 'Patua One', cursive;
}

table {
	border-collapse: collapse;
	background:#fff;
  	border-radius: 5px;
  	margin:50px auto;
  	box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
 }

thead tr{
	background: #dddddd;
}

td, th{
	padding: 1.0rem;
	font-family: 'Patua One', cursive;
}

tbody tr:nth-child(2n) {
  background:#f0f3f5;
}
tbody tr:hover {
	background: #aaa;
}

a {
	color: #000;
}

/*form stuff*/
section.form {
	float: left;
	width: 100%;
	padding-left: 200px;
}

section h2 {
	text-align: left;
}

input {
	display: block;
}

label{
	display: block;
	text-align: left;
}

h3#success-message {
	display: none;
}
